/* Контейнер формы */
.h1 {
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;

    margin-top: 1.5rem;
    margin-bottom: 2rem;

    letter-spacing: -0.025em; /* Слегка уменьшенное межбуквенное расстояние для стиля */

    color: #0f172a; /* Глубокий темно-синий/серый цвет */
}


